In [76]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [124]:
import yfinance as yf
import pandas as pd

def fetch_stock_data(ticker_symbol):
    # Get the data for the stock
    ticker_data = yf.Ticker(ticker_symbol)

    # Fetch the maximum available historical data
    historical_data = ticker_data.history(period="2y")

    # Normalize the datetime index of historical_data to remove the time component
    historical_data.index = historical_data.index.normalize()

    # Fetch earnings dates
    earnings_dates_data = ticker_data.get_earnings_dates(limit=30)
    
    # Normalize the datetime index of earnings_dates_data to remove the time component
    earnings_dates_data.index = earnings_dates_data.index.normalize()

    # Combine the historical data with earnings data
    combined_data = historical_data.merge(earnings_dates_data, left_index=True, right_index=True, how='left')

    return combined_data

# Fetch data for AAPL
apple_data = fetch_stock_data("GILD")
apple_data.tail(30)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,EPS Estimate,Reported EPS,Surprise(%)
2023-07-05 00:00:00-04:00,191.311658,192.719744,190.362927,191.071976,46920300,0.00,0.0,NaN,NaN,NaN
2023-07-06 00:00:00-04:00,189.583986,191.761054,188.944850,191.551331,45094300,0.00,0.0,NaN,NaN,NaN
2023-07-07 00:00:00-04:00,191.151878,192.410173,189.983458,190.422852,46778000,0.00,0.0,NaN,NaN,NaN
2023-07-10 00:00:00-04:00,189.004769,189.733796,186.787762,188.355652,59922200,0.00,0.0,NaN,NaN,NaN
2023-07-11 00:00:00-04:00,188.904916,189.044726,186.348370,187.826370,46638100,0.00,0.0,NaN,NaN,NaN
2023-07-12 00:00:00-04:00,189.424194,191.441474,188.215834,189.514084,60750200,0.00,0.0,NaN,NaN,NaN
2023-07-13 00:00:00-04:00,190.243096,190.932168,189.524066,190.283035,41342300,0.00,0.0,NaN,NaN,NaN
2023-07-14 00:00:00-04:00,189.973460,190.922176,189.374278,190.432846,41573900,0.00,0.0,NaN,NaN,NaN
2023-07-17 00:00:00-04:00,191.641201,194.057950,191.551326,193.728394,50520200,0.00,0.0,NaN,NaN,NaN
2023-07-18 00:00:00-04:00,193.089258,194.067932,192.160504,193.468735,48353800,0.00,0.0,NaN,NaN,NaN
2023-07-19 00:00:00-04:00,192.839596,197.962667,192.390191,194.836899,80507300,0.00,0.0,NaN,NaN,NaN
2023-07-20 00:00:00-04:00,194.826901,196.205045,192.240397,192.869553,59581200,0.00,0.0,NaN,NaN,NaN
2023-07-21 00:00:00-04:00,193.838258,194.707080,190.972118,191.681168,71917800,0.00,0.0,NaN,NaN,NaN
2023-07-24 00:00:00-04:00,193.149180,194.647157,191.990741,192.490067,45377800,0.00,0.0,NaN,NaN,NaN
2023-07-25 00:00:00-04:00,193.069285,194.177788,192.659834,193.358887,37283200,0.00,0.0,NaN,NaN,NaN
2023-07-26 00:00:00-04:00,193.408819,195.376163,193.059300,194.237701,47471900,0.00,0.0,NaN,NaN,NaN
2023-07-27 00:00:00-04:00,195.755654,196.934055,192.290332,192.959427,47460200,0.00,0.0,NaN,NaN,NaN
2023-07-28 00:00:00-04:00,194.407479,196.364842,193.878195,195.565918,48291400,0.00,0.0,NaN,NaN,NaN
2023-07-31 00:00:00-04:00,195.795600,196.225028,194.996676,196.185074,38824100,0.00,0.0,NaN,NaN,NaN
2023-08-01 00:00:00-04:00,195.975362,196.464691,195.016650,195.346207,35175100,0.00,0.0,NaN,NaN,NaN
2023-08-02 00:00:00-04:00,194.776971,194.916782,191.591286,192.320297,50389300,0.00,0.0,NaN,NaN,NaN
2023-08-03 00:00:00-04:00,191.311671,192.110580,190.432852,190.912201,61235200,0.00,0.0,1.19,1.26,0.0553
2023-08-04 00:00:00-04:00,185.269822,187.127314,181.674670,181.744583,115799700,0.00,0.0,NaN,NaN,NaN
2023-08-07 00:00:00-04:00,181.884386,182.883037,177.110833,178.608810,97576100,0.00,0.0,NaN,NaN,NaN
2023-08-08 00:00:00-04:00,179.447673,180.026893,177.340518,179.557526,67823000,0.00,0.0,NaN,NaN,NaN
2023-08-09 00:00:00-04:00,180.626086,180.686002,176.771290,177.949707,60378500,0.00,0.0,NaN,NaN,NaN
2023-08-10 00:00:00-04:00,179.237954,180.506245,177.360500,177.729996,54686900,0.00,0.0,NaN,NaN,NaN
2023-08-11 00:00:00-04:00,177.320007,178.619995,176.550003,177.789993,51988100,0.24,0.0,NaN,NaN,NaN
2023-08-14 00:00:00-04:00,177.970001,179.690002,177.309998,179.460007,43597400,0.00,0.0,NaN,NaN,NaN
2023-08-15 00:00:00-04:00,178.880005,179.470001,177.380005,178.100006,27520162,0.00,0.0,NaN,NaN,NaN

In [ ]:
# Date	AAPL_Close (Target)	AAPL_Volume (Exogenous)	AAPL_EPS (Exogenous)	GOOGL_Close (Exogenous)	GOOGL_Volume (Exogenous)	GOOGL_EPS (Exogenous)	MSFT_Close (Exogenous)	MSFT_Volume (Exogenous)	MSFT_EPS (Exogenous)
# 2021-01-01
# 2021-01-02